.app-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 100%;
  }
  
  .filter-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  

  
  .data-table {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    
  }
  
  .data-row {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
  
  .data-row:last-child {
    border-bottom: none;
  }
  
  .data-author, .data-product, .data-price, .data-status, .data-date {
    flex: 1;
    padding: 0 10px;


  }
  .data-payment{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    

  }
  .cpntt{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

  }
  .data-product {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .data-product img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  
  .data-status.pending {
    color: red;
    font-weight: bold;
  }
  
  .data-status {
    font-weight: bold;
    color: green;
  }